td {
    text-align: center;
}

th {
    background-color: lightgray;
}

table {
    border-collapse: collapse;
    border: outset;
}

th,
td {
    border: outset;
    text-align: center;
    padding: 5px;
}

input {
    text-align: center;
}

.td_left {
    text-align: left;
}

.td_view {
    background-color: ivory;
}

.td_disable {
    background-color: darkgray;
}

.td_type {
    width: 6em;
}